<!-- Modal -->
<div class="modal fade" id="uploadUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Upload User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="div-upload-user" class="row border-0">
            <%= form_for :regis_upload_form, url: upload_user_path(format: :json), method: :POST do |f| %>
                <div class="mb-3 row">
                    <label for="organization" class="col-sm-3 col-form-label text-end text-nowrap">Organization ID: </label>
                    <div class="col-sm-8">
                        <%= f.select :organization, options_for_select(@organizations, session["current_organization"]), {}, {class: "form-control form-select select_info_user is_input", id: "organization_upload_field", required: true, disabled: edit_organization?()} %>
                    </div>
                </div>
                <div class="my-4 row">
                    <label for="organization" class="col-sm-3 col-form-label text-end text-nowrap">File Upload: </label>
                    <div class="col-sm-8">
                      <div class="input-group">
                          <%= f.file_field :import_data, direct: true, accept:"text/csv", required: true, id:"customFile", class:"form-control mdl-textfield__input custom-file-input border w-100", aria_describedby:"inputGroupFileAddon04", aria_label:"Upload" %>
                      </div>
                      <%# <%= f.file_field :import_data, direct: true, accept:"text/csv", required: true, id:"customFile", class:"mdl-textfield__input custom-file-input border w-100" %>
                      <%# <label class="custom-file-label" for="customFile">Choose file</label> %>
                    </div>
                </div>
                <div class="mt-5 mb-3 row">
                  <div class="col-sm-12 text-center">
                    <%= f.submit "Upload", class: "btn btn-primary w-25", id: "btn_upload" %>
                    <button type="button" class="btn btn_cancel w-25 border" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>