<% is_logged_in? %>

<div class="container grid-full" style="margin-top:20px; margin-bottom: 10px;">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="margin-left:20px;">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn" id="btn-date-daily" for="btnradio1">Daily</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn" id="btn-date-monthly" for="btnradio2">Monthly</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
              <label class="btn" id="btn-date-range" for="btnradio3">Date range</label>
            </div>
        </div>
    </div>
</div>

<% if session["current_user"]["role"] == 1 || session["current_user"]["role"] == 2 %>
  <div class="container text-center grid-full">
      <div class="row">
          <div class="col bg-block">
              <%= render partial: "graph" %>
          </div>
      </div>
  </div>
<% end %>

<div class="container text-center grid-full">
  <div class="row">
    <% if session["current_user"]["role"] == 1 || session["current_user"]["role"] == 2 %>
      <div class="col bg-block">
        <%= render partial: "op_result" %>
      </div>
      <div class="col bg-block">
        <%= render partial: "individual_sound_source" %>
      </div>
    <% elsif session["current_user"]["role"] == 3 %>
      <div class="col bg-block sv">
        <%= render partial: "op_result_sv" %>
      </div>
      <div class="col bg-block sv">
        <%= render partial: "individual_sound_source_sv" %>
      </div>
    <% else %>
      <div class="col bg-block sv">
        <%= render partial: "op_result_op" %>
      </div>
      <div class="col bg-block sv">
        <%= render partial: "individual_sound_source_op" %>
      </div>
    <% end %>
  </div>
</div>