<div id="div-create-user" class="row">
    <%= form_for :regis_create_form, url: create_user_path(format: :json), method: :POST do |f| %>
        <h3 class="header-registration"> Registration User </h3>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="organization" class="col-form-label text-start">Organization ID: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.select :organization, options_for_select(@organizations, session["current_organization"]), {}, {class: "form-control select_info_user is_input", id: "organization_field", required: false, disabled: edit_organization?()} %>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="username" class="col-form-label text-start">User Name: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.text_field :username, value: params[:username], class: "form-control", required: true %>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="password" class="col-form-label text-start">Password: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.password_field :password, class: "form-control", required: true %>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="firstname" class="col-form-label text-start">First Name: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.text_field :firstname, value: params[:firstname], class: "form-control", required: true %>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="lastname" class="col-form-label text-start">Last Name: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.text_field :lastname, value: params[:lastname], class: "form-control", required: true %>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-sm-10 m-auto">
                <div class="row">
                    <label for="role" class="col-form-label text-start">Role: </label>
                </div>
                <div class="col-sm-12">
                    <%= f.select :role, options_for_select(@role), {:include_blank => "-- Please Select Role--"}, {class: "form-control select_info_user is_input", id: "user_role_field", required: true } %>
                    <%# <%= f.text_field :role, value: params[:role], class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="mt-5 mb-3 row">
            <div class="col-sm-12">
                <%= f.submit "Submit", class: "btn btn-primary w-25", id: "btn_signup" %>
                <%= link_to "Cancel", root_path(), class: "btn btn-secondary w-25" %>
            </div>
        </div>
    <% end %>
</div>